/* Common styles for both themes */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  

  
  /* Light theme styles */
  .light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark theme styles */
  .dark-theme {
    background-color: #121212;
    color: #ffffff;
  }
  